<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="resume.css" />
    <script src="https://kit.fontawesome.com/31508d220e.js" crossorigin="anonymous"></script>
</head>

<body >
    <div class="background-container" >
        <div class="resume-page-container">
            <!--Profile content-->
            <div class="profile-background-container" >
                <div class="profile-img-container">
                    <img class="profile-img" src="https://res.cloudinary.com/dbyzrfi0m/image/upload/v1697697764/P_mtsa0k.jpg" alt="Profile Pic"/>                    
                </div>
                <div class="personal-details">
                    <h2 class="name">Naga Pasanna Darapureddy</h2>
                    <span class="contact">+91 7075680073</span>
                </div>
            </div>
            
            <div class="content-container">
                <div class="personal-column" >
                    <!--Personal Details-->
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-sharp fa-solid fa-location-dot"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">PERSONAL DETAILS</h3>
                            </div>
                        </div>
                        
                        <div class="address-container">
                            <address class="address">Address: Vadapalem, Machilipatnam, <br/> Krishna Dist, Andhra Pradesh - 521001 <br /> <a href="#">nagaprasanna18@gmail.com</a></address>
                        </div>
                    </div>
                    
                    <!--About Me-->
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-solid fa-user"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">ABOUT ME</h3>
                            </div>                      
                        </div>
                        <div class="content-container">
                            <p class="sub-heading-content">I am Naga Prasanna Darapureddy I completed my graduation of B.Sc in Computer Science at Krishna University From the completion of my Graduation I worked in Non-IT sector as  a Junior Officer then I want to switch to IT Sector so I joined in NxtWave to learn technologies like HTML, CSS, Java Script and React Js. I learned these technologies and I did many projects based on these technologies</p>
                        </div>
                    </div>

                    <!--Education-->
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-solid fa-graduation-cap"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">EDUCATION</h3>
                            </div>                      
                        </div>                    
                        <div class="content-container education-container">
                            <div class="education">
                                <h4 class="sub-heading">TRAINING</h4>
                                <h5 class="sub-heading-content"><a href="https://www.ccbp.in/" class="linked-text">CCBP NXTWAVE<i class="linked-icon fa-solid fa-arrow-up-right-from-square"></i></a> - 2022 - 2023</h5>
                                <p class="sub-heading-content">Full Stack Developer</p>
                                
                            </div>
                            <div class="education">
                                <h4 class="sub-heading">GRADUATION</h4>
                                <h5 class="sub-heading-content"><a href="https://kru.ac.in/" class="linked-text">KRISHNA UNIVERSITY<i class="linked-icon fa-solid fa-arrow-up-right-from-square"></i></a> -  2012 - 2015</h5>
                                <p class="sub-heading-content">B.Sc(M.S.C - Mathametics, Statistics & Computers) Computer Science</p>
                            </div>
                        </div>
                    </div>

                    <!--Languages-->
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-sharp fa-solid fa-comments"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">LANGUAGES</h3>
                            </div>                      
                        </div>
                        <div class="all-languages-container">
                            <div class="each-language-container">
                                <span class="language">Telugu</span>
                                <div class="stars-container">
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="each-language-container">
                                <span class="language">English</span>
                                <div class="stars-container">
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star-empty fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="each-language-container">
                                <span class="language">Hindhi</span>
                                <div class="stars-container">
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star fa-solid fa-star"></i>
                                    <i class="star-empty fa-solid fa-star"></i>
                                    <i class="star-empty fa-solid fa-star"></i>
                                </div>
                            </div>                        
                        </div>
                    </div>

                </div>

                <!-- Experience column -->
                <div class="experiance-column">
                    <!-- Experience category -->
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class=" icon fa-solid fa-briefcase"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">EXPERIENCE</h3>
                            </div>
                        </div>
                        <div class="heading-content">
                            <h4 class="sub-heading exp-comp-details">JUNIOR OFFICER, MANTOVANI DI DHARTI PVT LTD</h4>
                            <h5 class="sub-heading-content">Begumpet, Hyderabad - 2016 - 2023</h5>
                            <p class="sub-heading-content">Worked in HR & Administration department as a junior officer</p>
                            <div class="roles-container">
                                <h5 class="sub-heading-content">Roles & Responsabilities:</h5>
                                <ul class="roles">
                                    <li class="list-item">Documentation</li>
                                    <li class="list-item">Tax Invoices Oracle Entries</li>
                                    <li class="list-item">Maintanance</li>
                                    <li class="list-item">PF Related</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Skills category -->                    
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-solid fa-trophy"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">SKILLS</h3>
                            </div>
                        </div>
                        <div class="heading-content all-skills-container">
                            <div class="skill-card highlight" ><span class="skill" >HTML</span></div>
                            <div class="skill-card highlight"><span class="skill">CSS</span></div>
                            <div class="skill-card highlight"><span class="skill">BOOTSTRAP</span></div>
                            <div class="skill-card highlight"><span class="skill">JAVASCRIPT</span></div>
                            <div class="skill-card highlight"><span class="skill">REACT JS</span></div>                            
                            <div class="skill-card"><span class="skill">PYTHON</span></div>
                            <div class="skill-card"><span class="skill">SQL</span></div>
                        </div>
                    </div>

                    <!-- Reference category -->                    
                    <div class="each-block">
                        <div class="heading-container">
                            <div class="icon-container"><i class="icon fa-solid fa-pencil"></i></div>
                            <div class="category-container">
                                <h3 class="sub-heading">REFERENCES</h3>
                            </div>
                        </div>
                        <p class="refr-content">Avaliable upon request</p>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

</html>